@import "/src/sass/Breakpoints.scss";
@import "/src/sass/Colors.scss";
@import "/src/sass/Variables.scss";
@import "/src/sass/Mixins.scss";

.validation {
  position: absolute;
  top: 275px;
  font-size: 14px;
  color: rgb(255, 0, 0);
}
