$main-chat-color: "#1F1D1D";
$secondary-chat-color: "#312F2F";
$tertiary-chat-color: "#000000";

$main-text-color: "#FFFFFF";
$secondary-text-color: "#21FF5F";
$tertiary-text-color: "#ffffffcc";
$quaternary-text-color: "quaternary";
