@import "./Breakpoints.scss";
@import "./Colors.scss";
@import "./Variables.scss";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "inter";
  src: url("/src/Fonts/Inter_24pt-SemiBold.ttf");
}

body {
  background-image: url("/src//assets/main-background.jpg");
  background-size: cover;
  font-family: "inter";
  font-weight: 600;
}

main {
  padding: 20px 40px;
  color: $main-text-color;

  .header-sidebar-wrapper {
    height: 90vh;
    display: flex;

    @include lg {
      height: 86vh;
    }
  }

  @include lg {
    padding: 0;
  }
}
