@mixin primary-button($width, $height) {
  width: $width;
  height: $height;
  position: absolute;
  bottom: 35px;
  background-color: $secondary-chat-color;
  border-radius: 10px;
  border: none;
  color: #ffffff;
  cursor: pointer;

  &:hover {
    background-color: $main-hover-color;
  }
}

@mixin primary-input($width) {
  width: $width;
  padding: 8px;
  background-color: $main-chat-color;
  border-radius: 10px;
  outline: none;
  color: #ffffff;
}

@mixin sign-register-background() {
  width: 400px;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  padding: 20px;
  background-color: #1a1a1a;
  border-radius: 20px;
  box-shadow: 1px 1px 12px #000000;
}
