@import "/src/sass/Breakpoints.scss";
@import "/src/sass/Colors.scss";
@import "/src/sass/Variables.scss";

.chat-modal {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.chat-input-wrapper {
  height: 60px;
  display: flex;
  align-items: center;
  position: sticky;
  bottom: 0;

  .chat-input {
    width: 100%;
    display: flex;
    align-items: center;
    background-color: $secondary-chat-color;
    border-radius: 30px;

    img {
      padding: 5px 8px;
      cursor: pointer;
    }

    input {
      width: 100%;
      height: 56px;
      background-color: $secondary-chat-color;
      border: none;
      border-radius: 30px;
      outline: none;
      font-size: 20px;
      color: $main-text-color;

      @include md {
        margin-left: 20px;
      }
    }

    .send-message {
      width: 55px;
      padding: 10px;
      border-radius: 100%;
      display: none;

      &:hover {
        background-color: $main-hover-color;
      }
    }

    .open-emoji {
      padding: 10px;
      border-radius: 100%;

      &:hover {
        background-color: $main-hover-color;
      }

      @include md {
        display: none;
      }
    }

    .import-file,
    .import-image,
    .take-photo {
      padding: 10px;
      border-radius: 100%;

      &:hover {
        background-color: $main-hover-color;
      }
    }
  }

  .record-voice {
    padding: 10px;
    background-color: $secondary-chat-color;
    border-radius: 100%;
    cursor: pointer;

    &:hover {
      background-color: $main-hover-color;
    }
  }

  .stop-record-voice {
    padding: 11px 17px;
    font-size: 23px;
    background-color: #312f2f;
    border-radius: 100%;
    cursor: pointer;

    &:hover {
      background-color: $main-hover-color;
    }
  }
}
