@import "/src/sass/Breakpoints.scss";
@import "/src/sass/Colors.scss";
@import "/src/sass/Variables.scss";

.their-text {
  display: flex;
  align-items: center;
  padding: 20px 10px;

  @include lg {
    padding: 10px;
  }

  img {
    width: 40px;
    height: 40px;
    object-fit: cover;
    margin-right: 10px;
    border-radius: 100%;
  }

  figcaption {
    padding: 8px 15px;
    background: $secondary-chat-color;
    border-radius: 30px;
    box-shadow: 1px 5px 6px #0f0f0f66;

    @include lg {
      padding: 12px;
    }
  }

  @include lg {
    font-weight: 100;
  }
}
