@import "/src/sass/Breakpoints.scss";
@import "/src/sass/Colors.scss";
@import "/src/sass/Variables.scss";
@import "/src/sass/Mixins.scss";

.register {
  @include sign-register-background(400px, 300px);

  .upload-input {
    width: 89px;
    height: 100px;
    position: absolute;
    top: 60px;
    box-shadow: 0px 0px 6px #ffffff75;
    cursor: pointer;

    &::-webkit-file-upload-button {
      opacity: 0;
    }
  }

  img {
    width: 100px;
    height: 100px;
    position: absolute;
    top: 60px;
    cursor: pointer;
  }

  .name-input {
    @include primary-input(280px);
    margin-top: 110px;
  }

  .join {
    @include primary-button(280px, 30px, absolute);
  }
}
