.typing-container {
  display: flex;
  align-items: center;
  padding: 20px 10px;

  .user-typing {
    width: 46px;
    height: 46px;
    object-fit: cover;
    margin-right: 10px;
    border-radius: 100%;
  }

  .typing {
    background-color: #222222;
    padding: 8px;
    width: 60px;
    height: 28px;
    border-radius: 12px 12px 12px 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .typing span {
    content: "";
    display: block;
    height: 9px;
    width: 9px;
    border-radius: 50px;
    background-color: #bbbbbb;
    box-shadow: 5px 5px 5px #ebebeb inset;
    margin: 10px 3px;
    animation: bounce 0.4s infinite;
    animation-timing-function: ease-in-out;
    animation-direction: alternate;
    animation-delay: 0s;
  }

  .typing span:nth-child(2) {
    animation-delay: 0.25s;
  }
  .typing span:last-child {
    animation-delay: 0.5s;
  }

  @keyframes bounce {
    0% {
      margin-bottom: 3px;
    }

    25% {
      margin-bottom: 6px;
    }

    50% {
      margin-bottom: 9px;
    }

    75% {
      margin-bottom: 12px;
    }

    100% {
      margin-bottom: 15px;
    }
  }
}
