.typing-container {
  padding: 20px 10px;

  .typing {
    background-color: #b8a2f4;
    padding: 8px;
    width: 120px;
    height: 28px;
    border: 1px solid #c3acff;
    border-radius: 12px 12px 12px 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .typing span {
    content: "";
    display: block;
    height: 10px;
    width: 3em;
    border-radius: 50px;
    background-color: #401a77;
    margin: auto 0.75em;
    box-shadow: 5px 5px 5px #1e0660 inset;

    animation: bounce 0.6s infinite;
    animation-timing-function: ease-in-out;
    animation-direction: alternate;
    animation-delay: 0s;
  }

  .typing span:nth-child(2) {
    animation-delay: 0.25s;
  }
  .typing span:last-child {
    animation-delay: 0.5s;
  }

  @keyframes bounce {
    0% {
      margin-bottom: 1.5em;
    }

    25% {
      margin-bottom: 2.5em;
    }

    50% {
      margin-bottom: 3.5em;
    }

    75% {
      margin-bottom: 4.5em;
    }

    100% {
      margin-bottom: 5em;
    }
  }
}
