@import "/src/sass/Breakpoints.scss";
@import "/src/sass/Colors.scss";
@import "/src/sass/Variables.scss";

.show-sidebar {
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  background-color: $main-chat-color;
  border-radius: 100%;
  cursor: pointer;

  img {
    width: 25px;
    height: 30px;
    border-radius: 100%;
  }
}
