@import "/src/sass/Breakpoints.scss";
@import "/src/sass/Colors.scss";
@import "/src/sass/Variables.scss";

.sidebar {
  width: 30%;
  height: 90vh;
  padding: 25px 12px;
  background-color: #1f1d1d;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  overflow-y: scroll;
  box-shadow: -5px 6px 14px #000000;

  &::-webkit-scrollbar {
    width: 15px;
    background-color: $main-chat-color;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $secondary-chat-color;

    &:hover {
      background-color: $main-hover-color;
      cursor: pointer;
    }
  }

  h2 {
    font-size: 20px;
    padding-top: 20px;
  }
}
