@import "/src/sass/Breakpoints.scss";
@import "/src/sass/Colors.scss";
@import "/src/sass/Variables.scss";

.sign-in-container {
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 40px;
  color: $main-text-color;

  .sign-in {
    width: 400px;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    padding: 20px;
    background-color: #1a1a1a;
    border-radius: 20px;
    box-shadow: 1px 1px 12px #000000;

    .upload-input {
      width: 90px;
      height: 100px;
      position: absolute;
      top: 60px;
      box-shadow: 0px 0px 6px #ffffff75;
      cursor: pointer;

      &::-webkit-file-upload-button {
        opacity: 0;
      }
    }

    img {
      width: 100px;
      height: 100px;
      position: absolute;
      top: 60px;
      cursor: pointer;
    }

    .name-input {
      width: 280px;
      padding: 8px;
      margin-top: 115px;
      background-color: $main-chat-color;
      border-radius: 10px;
      outline: none;
      color: #ffffff;
    }

    .join {
      width: 280px;
      height: 30px;
      position: absolute;
      bottom: 35px;
      background-color: $secondary-chat-color;
      border-radius: 10px;
      border: none;
      color: #ffffff;
      cursor: pointer;

      &:hover {
        background-color: $main-hover-color;
      }
    }
  }
}
