@import "/src/sass/Breakpoints.scss";
@import "/src/sass/Colors.scss";
@import "/src/sass/Variables.scss";

.record-background {
  height: 60px;
  width: 100%;
  display: flex;
  align-items: center;
  position: sticky;
  bottom: 0;
  background-color: blue;
  border-radius: 30px;
  animation: record-animation forwards 0.3s ease-in;

  .timer {
    margin-left: 20px;
  }
}

@keyframes record-animation {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}
